// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';
@import 'patterns/spacing';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

strong {
  font-weight: bold;
}

.secondary-cta {
  position: relative;
  left: 5px;
  top: 8px;
}

.admin-nav {
  li {
    margin-bottom: 5px;
  }
}

/* three quarter columns */

.column-three-quarter,
.column-three-quarters, {
  @include grid-column(3 / 4);

  p {
    max-width: 32em;
  }
}

// stuff from service manual prototype

.metadata-header {
  font-size: 14px;
}

.metadata-header dt, .metadata-header dd {
  display: inline-block;
  vertical-align: top;
}

.metadata-header dt {
  width: 20%;
}

.metadata-header dd {
  width: 70%;
}

.metadata-header dd:first-letter {
  text-transform: uppercase;
}

.metadata-header dl {
  margin-bottom: 2em;
}

.footer-content {
  margin-top: 30px;
}

.metadata-footer dl {
  width: 66%;
}

.metadata-footer dl dd {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1em;
  line-height: 1.2;
}

.metadata-footer dl dd a {
  text-decoration: none;
}

.metadata-footer dl dd .update-description {
  font-size: 16px;
  color: #6f777b;
  font-weight: normal;
  display: block;
}

.metadata-footer dl dd .update-description a {
  text-decoration: underline;
}

.metadata-footer dl dd a #otherupdatesbutton {
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  display: block;
  margin-top: 0.66em;
}

.metadata-footer dl dd .update-other-dates {
  font-size: 19px;
  margin-bottom: 1em;
}

#morechanges {
  visibility: hidden;
}

.markdown .page-contents,
.sidebar .page-contents {
  list-style-type: none;
  padding-left: 0;
  margin: 0 0 2em 0;
}

.markdown .page-contents li,
.sidebar .page-contents li {
  margin-bottom: 0;
}

.markdown .page-contents a,
.sidebar .page-contents a {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}

@media (max-width: 640px) {
  .markdown .page-contents a,
  .sidebar .page-contents a {
    font-size: 14px;
    line-height: 1.1428571429;
  }
}

.markdown .page-contents a:before,
.sidebar .page-contents a:before {
  content: "–";
  margin-right: 6px;
}

.markdown .page-contents a:hover,
.sidebar .page-contents a:hover {
  text-decoration: underline;
}

.markdown .page-contents a.active,
.sidebar .page-contents a.active {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
}

@media (max-width: 640px) {
  .markdown .page-contents a.active,
  .sidebar .page-contents a.active {
    font-size: 14px;
    line-height: 1.1428571429;
  }
}

.markdown .page-contents-title,
.sidebar .page-contents-title {
  display: block;
  font-size: 16px;
}

.home .page-contents-title,
.home .page-contents,
.topic .page-contents-title,
.topic .page-contents,
.tag-list .page-contents-title,
.tag-list .page-contents,
.dbd .page-contents-title,
.dbd .page-contents {
  display: none;
}

@media (min-width: 769px) {
  .sticky {
    position: fixed;
    top: 0;
  }
  .column-third.sticky {
    max-width: 330px;
  }
  .align-column-right {
    float: right;
  }
}

/* breadcrumb */

.breadcrumb {
  padding: 0.75em 0;
  z-index: 50;
  background-color: $white;
}

.breadcrumb ol {
  margin: 0;
  padding-left: 0;
}

.breadcrumb ol li {
  font-family: "nta",Arial,sans-serif;
  font-size: 1.6rem;
  line-height: 1.25;
  font-weight: 300;
  background-image: url(https://assets.digital.cabinet-office.gov.uk/static/separator-73822610794bc3a64871f144d93d6526.png);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  float: left;
  list-style: none;
  margin-left: 0;
  margin-right: 0.5em;
  padding-right: 1em;
}

@media (max-width: 640px) {
  .breadcrumb ol li {
    font-size: 1.4rem;
    line-height: 1.14286;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .breadcrumb ol li {
    background-image: url(https://assets.digital.cabinet-office.gov.uk/static/separator-2x-2ff66846b80b66edba8ce56d29daa935.png);
    background-size: 6px 11px;
  }
}

.breadcrumb ol li a {
  color: #0b0c0c;
}

.breadcrumb ol li a strong {
  font-weight: normal;
}

.breadcrumb ol li:last-child {
  background-image: none;
  margin-right: 0;
}

.breadcrumb ol li:first-letter {
  text-transform: capitalize;
}

/* service manual feedback link */

.feedback {
  text-align: right;
  margin-top: 60px;
}

// Stuff from product pages sass

.section-header {
  margin: $gutter 0 $gutter/2 0;
  color: $grey-1;
  font-size: em(19);
  border-bottom: 1px solid $grey-2;
  padding-bottom: 5px;
}

.page-header__context {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 24px;
    line-height: 1.25;
    color: #6f777b;
    margin-bottom: em(10);
    padding-bottom: .167em;

    @media screen and (max-width: 640px) {
      font-size: 18px;
      line-height: 1.2;
    }
}

// SITE HEADERS

// Additional styles for prototyping new types of site header

// Headers for GOV.UK products
#global-header.govuk-product{

  // Product name
  .product-name {
    font-weight: 400;
    // padding-left: 5px;
    font-size: 24px;
    white-space: nowrap;

    @media screen and (max-width: 640px) {
      display: inline-block;
      font-size: 19px;
    }
  }

  // Right aligned header links
  .header-wrapper{
    .header-global,
    .header-proposition{
      width: 50%;

      @media screen and (max-width: 940px) {
        width: 100%;
      }

      @media screen and (max-width: 768px) {
        
      }

    }
  }

  .header-logo {
    width: 100%;
  }

  .header-global {
    display: block;
    width: 66.666%!important;

    @media screen and (max-width: 640px) {
      float: none;
    }

  }

  .header-proposition {
    display: block;
    width: 33.333%!important;

    @media screen and (max-width: 640px) {
      float: none;
      display: inline;
    }

  }

  .header-proposition #proposition-menu{
    margin-top: 5px;  
  }

}

// Smaller phase tag in header
#global-header .phase-banner {
    border: 0;
    margin-left: 10px;

    @media screen and (max-width: 640px) {
      display: none;
    }

  .phase-tag{
    font-size: 14px;
    vertical-align: middle;
    background: $govuk-blue;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 2px 5px -0px 6px;
    font-weight: bold;
  }

}

// Right-aligned header links
#global-header .header-proposition #proposition-links.right-aligned {
  
  float: right;


  @media screen and (max-width: 940px) {
    float: left;
    margin-top: 5px;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    margin-top: 35px;
    margin-bottom: 5px;
  }

  li {
    float: left;
    padding: 0 0 0 15px;

    &:first-child {
      padding-left: 0;
    }

    @media screen and (max-width: 768px) {
      padding-left: 0;
    }

  }
}

// Menu trigger spacing fix

a.js-header-toggle.menu.js-hidden {
    line-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    display: none !important;
}

// FULL WIDTH HEADER

.header-full-width{
  #global-header .header-wrapper {
    margin: 0;
    max-width: none;
  }

  #global-header-bar{
    width: 100%;
    max-width: none;
    margin-left: 0;
  }
}

// FIXED POSITION HEADER

.header-fixed-position{
  #global-header{
      position: fixed;
      z-index: 100;
  }
  #global-header-bar{
    position: fixed;
      top: 53px;
      z-index: 100;
  }
}

.org-logo{
  h2{
  }
  a{
      margin: 0 0 4px 15px;
    padding: 3px 0 3px 44px;
      background-image: url(https://assets.publishing.service.gov.uk/government/assets/crests/org_crest_18px-4e3d1aa185df88183df4fd4d1338cba324d0125d4bb7a5644edbef42d9bcd16e.png);
      background-position: 6px center;
      background-size: auto 25px;
      border-left: 2px solid black;
      font-size: 19px;
      font-family: Helvetica, Arial;
      font-weight: 400;
      display: block;
      position: relative;
      background-repeat: no-repeat;
      line-height: 20px;
      text-decoration: none;
      color: black;
      filter: invert(100%);
      -webkit-filter: invert(100%);
  }
  a.ho{
    background-image: url(https://assets.publishing.service.gov.uk/government/assets/crests/ho_crest_27px-aa51d2d1ecdd32b65518f8bbc701a3e9d3cfc3e0f6449f50ccd96fb84290aa11.png);
    padding-left: 27px;
  }
  a.hmrc{
    background-image: url(https://assets.publishing.service.gov.uk/government/assets/crests/hmrc_crest_27px-8a0f3a888e411ae43e8c766581c67ff6114b9571d7163dc05e891c7548429f44.png);
  }
}

#global-header .header-proposition #proposition-name.helvetica{
  font-family: Helvetica, Arial;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.5;
}

.guidance{
  margin: 0 auto;
  padding: 45px 15px 0 15px;
    width: auto;
    max-width: 960px;
    font-size: 19px;
}

#global-header .header-proposition #proposition-name.departmental{
  font-family: Helvetica, Arial;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.4;
}

.admin{
  background: $govuk-blue;
  text-transform: uppercase;
  font-size: 14px;
  padding: 3px 10px 0 10px;
  margin-left: 10px;
    vertical-align: 2px;
}

.signed-in-bar{
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 0 10px 0;
  border-bottom: 1px solid $border-colour;
  min-height: 25px;
  ul{
    li{
      float: right;
      margin-left: 30px;
    }
  }
}

.sign-out-link{
    float: right;
    margin-top: 8px;
    a{
    color: white;
      font-weight: bold;
      text-decoration: none;
      padding-right: 15px;
    }
}

.navigation-service {
  padding: 11px 0 9px 0;
  border-bottom: 1px solid #bfc1c3;
  margin: 0 0 10px;
  position: relative;

  .navigation-service-name {
    font-weight: bold;
  }

  a {
    font-size: 16px;
  }
}

// side nav in admin

.navigation {
  padding: 0 30px 0 0;

  li {
    margin: 10px 0 0 0;
    list-style-type: none;

    a {
      text-decoration: none;
    }
  }
}

// account stuff

.heading-account {
  margin: 10px 0 15px 0;
}

// spreadsheet example

.spreadsheet {

  th,td {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #bfc1c3;
  }

  th {
    background: #f8f8f8;
    font-weight: bold;
    text-align: center;
  }

  .table-field-heading {
    font-size: 19px;
    line-height: 1.31579;
  }

  .table-field-index {
    background: #f8f8f8;
    font-weight: bold;
    text-align: center;
  }
}

// fake drag and drop

.drag-and-drop {
  width: 100%;
  padding: 60px 0 50px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 15px;
  border: 2px dashed $secondary-text-colour;

  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .inputfile + label {
    color: $govuk-blue;
    text-decoration: underline;
  }

  .inputfile:focus + label,
  .inputfile + label:hover {
    cursor: pointer;
  }

  .inputfile + label:hover {
    color: $link-hover-colour;
  }
}

// changes to error messages

.error-summary {
  color: $error-colour;

  a {
    color: $error-colour;
    font-weight: bold;
    text-decoration: underline;
  }

  ul {
    margin-bottom: 15px;
  }
}

// missing tag

.task-missing {
  color: $error-colour;
  font-weight: 700;
}

// service manual uses different type scale WTF

.sm {
  font-size: 27px;
}


/* preview banner */

.preview-banner {
  color: $white;
  background-color: $govuk-blue;
  margin-top: -10px;

  div {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0 5px;

    p { 
      font-size: 19px;
    }

    h1 {
      margin-bottom: 15px;
    }

    a {
      color: #fff;
    }

  }

}

// spacing for form email

fieldset > h2 {
  margin: 15px 0 10px;
}

// dashboard summary numbers

.big-number-with-status {
  position: relative;
  margin: 15px 0 45px;

  .big-number-label {
    padding-bottom: 0;
  }

  .big-number-link {
    text-decoration: none;
    background: $govuk-blue;
    color: $white;
    display: block;
    border: 2px solid $govuk-blue;
    margin-bottom: 5px;
  }

  a:hover {
    color: #d5e8f3;
  }

  .big-number-label {
    text-decoration: underline;
  }

  .big-number {
    padding: 15px;
    position: relative;
  }

}

.big-number-number {
  // font-family: "ntatabularnumbers","nta",Arial,sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 36px;
  line-height: 1.09375;
  display: block;

  @media (min-width: 641px){
    font-size: 48px;
    line-height: 1.04167;
  }

  span {
    font-size: 28px;
  }
}

// summary for data provision

.publish-data-dates {
  font-size: 16px;

  dt {
    display: inline-block;
    vertical-align: top;
    width: 30%;
  }

  dd {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }

  dd:first-letter {
    text-transform: uppercase;
  }

  dl {
    margin: 0 0 15px;
  }

}

// vertical align table to top

.table-align-top {

  td {
    vertical-align: top;
  }
  
}

// ticks for metrics

.tick-cross-tick, .tick-cross-cross {
  background-size: auto 20px;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding: 0 0 0 30px;

    a {
      @include core-16;
      vertical-align: top;
    }
}

.tick-cross-tick {
  background-image: url('../images/tick-icon.png');
}

.tick-cross-cross {
  background-image: url('../images/cross-icon.png');
}

.which-metric {

  tr {

    td:first-of-type {
      font-weight: bold;
    }
    
  }
}

.metric-disabled {

  td {
    color: $secondary-text-colour;
  }
  
}

// links to remove metrics on web form

.remove-metric {

  span {
    display: block;
    // width: 40%;
    // vertical-align: middle;
    // line-height: 1;
    // margin-left: 5px;
  }
  
}

.remove-metric-removed {
  // not currently used
  opacity: 0.5;
}