{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block service_name %}

{% endblock %}

{% block content %}

<main id="content" role="main" style="font-family: helvetica, arial;">

  <div class="grid-row">
    <div class="column-two-thirds">


      <p style="margin-top: 60px;">
        Hello
      </p>

      <p>
        This is a reminder to publish data about your service(s) for the period from 1 to 30 June 2017.
      </p>
      
      <p>
        Download <a href="#">this spreadsheet</a>, fill it in, and <a href="magiclink">upload it here</a>.
      </p>

      <p>
        Once submitted, the data will be automatically published on 1 September 2017.
      </p>

      <p>
        If you need any more guidance on how to provide data, it can be found in the <a href="../service-manual">Service Manual</a>.
      </p>

      <p>
        Regards,
        <br>
        Name
      </p>   

    </div>
  </div>
</main>

{% endblock %}


