{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block service_name %}

{% endblock %}

{% block content %}

<main id="content" role="main" style="font-family: helvetica, arial;">

  <div class="grid-row">
    <div class="column-two-thirds">

      <p style="margin-top: 30px;">
        Hello
      </p>

      <p>
        This is a reminder to provide <a href="service-manual.html">data about your service</a> for the period 1 to 31 July 2017.
      </p>
      
      <p>
        <a class='button' href="magiclink-web-form">Provide data</a>
      </p>

      <p>
        Please provide your data by 31 August. It will be published on your service page on 1 September. If you don't provide it in time, your page will be published with missing data. 
      </p>

      <p>
        If you need help, you can <a href="mailto:performance@digital.cabinet-office.gov.uk">contact the Government Service Data team</a>.
      </p>

      <p>
        Regards,
        <br>
        Cliff Sheppard
        <br>
        Government Service Data, GDS
      </p>   

    </div>
  </div>
</main>

{% endblock %}


