{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block service_name %}

{% endblock %}

{% block content %}

<main id="content" role="main" style="font-family: helvetica, arial;">

  <div class="grid-row">
    <div class="column-two-thirds">

      <p style="margin-top: 30px;">
        Hello
      </p>

      <p>
        As you may have heard, we are making some changes to the process for publishing data for Transactions Explorer. We are:
        <ul class="list-bullet">
          <li>adding new metrics to be collected — see the updated <a href="service-manual">Service Manual</a> for more details</li>
          <li>asking for data to be sent monthly rather than quarterly</li>
          <li>allowing services to publish data directly to us, rather than through your department contacts</li>
        </ul>  
      </p> 

      <p>
        To get started, you will need to <a href="create-account">set up an account</a> using your work email address. This will guide you through the changes and help automate some of the data gathering process.
      </p>
      
      <p>  
        If you are unsure about the changes, feel free to <a href="mailto:performance@digital.cabinet-office.gov.uk">contact the team</a> with any questions.
      </p> 

      <p>
        Thanks,
        <br>
        Cliff Sheppard
        <br>
        Government Service Data, GDS
      </p>   

    </div>
  </div>
</main>

{% endblock %}


