{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block service_name %}

{% endblock %}

{% block content %}

<main id="content" role="main" style="font-family: helvetica, arial;">

  <div class="grid-row">
    <div class="column-two-thirds">

      <p style="margin-top: 30px;">
        Hello
      </p>

      <p>
        We are making some changes to the process of publishing data for Transactions Explorer. We are:
        <ul class="list-bullet">
          <li>publishing a new set of metrics — see the updated <a href="service-manual">Service Manual</a> for more details</li>
          <li>asking for data to be published monthly rather than quarterly</li>
          <li>allowing services to publish data directly to us, rather than through your department contacts</li>
        </ul>
      </p> 

      <p class="panel panel-border-wide">
        To get started, <a href="create-account">set up an account</a> using your work email address. From this account you can set reminders to publish data, and delegate some responsibilities to others.
      </p>
      
      <p>  
        If you are unsure about the changes, feel free to <a href="mailto:performance@digital.cabinet-office.gov.uk">contact the team</a> with any questions.
      </p> 

      <p>
        Thanks,
        <br>
        Cliff Sheppard
        <br>
        Government Service Data, GDS
      </p>   

    </div>
  </div>
</main>

{% endblock %}


