{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block service_name %}

{% endblock %}

{% block content %}

<main id="content" role="main" style="font-family: helvetica, arial;">

  <div class="grid-row">
    <div class="column-two-thirds">

      <p style="margin-top: 30px;">
        Hello
      </p>

      <p>Create an account to publish data about your service to <a href="https://gsd-view-data.cloudapps.digital/">Government Service Data</a>. This will replace the existing process for publishing via Transactions Explorer.</p>

      <p class="panel panel-border-wide">
        <a href="create-account">Create an account</a>
      </p>
      
      <p>  
        For more information, see the <a href="../service-manual">Service Manual guidance</a>. Feel free to <a href="mailto:performance@digital.cabinet-office.gov.uk">contact our team</a> with any questions.
      </p>

      <p>
        Thanks,
        <br>
        Cliff Sheppard
        <br>
        Government Service Data, Cabinet Office
      </p>   



    </div>
  </div>
</main>

{% endblock %}


