{% extends "layouts/govuk-registers.html" %}

{% set section = "index" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="javascript:history.back()">Back</a>

      <form action="" method="get" class="form">

        <h2 class="heading-large">
          Which government organisation delivers this service?
        </h2>

        <div class="form-group">
          <label class="form-label visuallyhidden" for="password">Organisation</label>
          <input class="form-control form-control-3-4" id="password" name="password" type="test" value="">
        </div>

        <div class="form-group">
          <a class="button" href="which-metrics" role="button">Continue</a>
        </div>

      </form>

      <!-- <form class="form">

        <h1 class="form-title heading-large">Location picker</h1>

        <div class="form-group">
          <label class="form-label-bold" for="location-select-dropdown">
              What was the last country you visited?
          </label>
          <div class="form-control-1-2">
            <select class="form-control" id="location-select-dropdown">
              <option value="" disabled selected>
                Choose a location
              </option>
              {% for location in locations %}
                <option value="{{location}}">{{location}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>
      </form> -->

    </div>
  </div>
</main>
{% endblock %}

<!-- {% block body_end %}
  <link rel="stylesheet" href="https://unpkg.com/accessible-typeahead@0.4.1/dist/styled.min.css">
  <style>
    .typeahead__menu--inline {
      max-height: none;
      overflow-x: visible;
    }
  </style>
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/registers-picker-engine@0.0.2"></script>
  <script type="text/javascript" src="https://unpkg.com/accessible-typeahead@0.4.1"></script>
  <script type="text/javascript">
    var dataFilePath = '/public/data/picker-data-orgs.json'
    AccessibleTypeahead.enhanceSelectElement({
      autoselect: true,
      selectElement: document.getElementById('location-select-dropdown'),
      minLength: 2,
      source: locationPickerSuggestions(dataFilePath)
    })
  </script>
{% endblock %}
 -->