{% extends "layouts/govuk-registers.html" %}

{% set section = "index" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="javascript:history.back()">Back</a>

      <form action="task-list" method="get" class="form">

        <h2 class="heading-large">
          Which government organisation delivers this service?
        </h2>

        <div class="form-group">
          <label class="form-label visuallyhidden" for="org-name">Organisation</label>
          <input class="form-control form-control-3-4" id="org-name" name="org-name" type="test" value="">
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}

