{% extends "layouts/govuk-registers.html" %}

{% set section = "index" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="preview-banner">
  <div>
    <h1 class="bold-medium">
      This is a preview
    </h1>
    <p>
      The latest data is not yet published — it will go live on 1 September 2017.
      <br>
      <a href="monitor">
        Go back
      </a>
    </p>
  </div>
</div>

<main id="content" role="main">

  <div class="mt-15">
    <img src="/public/images/missing-data-service.png" width="960">
  </div>  

</main>

{% endblock %}


