{% extends "layouts/govuk-registers.html" %}

{% set section = "index" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="navigation-service">
    <div class="navigation-service-name">
      Name of service
    </div>
  </div>

  <div class="grid-row">

    <div class="column-one-quarter"#>
      <nav class="navigation">
        <ul>
          <li><a href="task-list">Tasks</a></li>
          <li><a href="contacts">Manage contacts</a></li>
          <li><a href="monitor">Check uploads</a></li>
        </ul>
      </nav>
    </div>

    <div class="column-three-quarters column-minimum">

      <h1 class="heading-large heading-account">
        Tasks
      </h1>

      <p>Complete this list of tasks to get started</p>

      <!-- <p class="panel">
        Next data submission deadline: <strong>31 August 2017</strong>
      </p> -->

      <ol class="task-list">
        <li>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="profile" aria-describedby="account-completed">
                1. Create account
              </a>
              <strong class="task-completed" id="account-completed">Completed</strong>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="add-service-info" aria-describedby="">
                2. Add information about your service
              </a>
              <!-- <strong class="task-completed" id="eligibility-completed">Completed</strong> -->
            </li>
            <li class="task-list-item">
              <a class="task-name" href="manage-data-sources" aria-describedby="">
                3. Delegate data publishing to others
              </a>
              <!-- <strong class="task-completed" id="eligibility-completed">Completed</strong> -->
            </li>
          </ul>
        </li>
      </ol>

    </div>
  </div>
</main>

{% endblock %}
