{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block service_name %}

{% endblock %}

{% block content %}

<main id="content" role="main" style="font-family: helvetica, arial;">

  <div class="grid-row">
    <div class="column-two-thirds">


      <p style="margin-top: 30px;">
        Hello
      </p>

      <p>
        We’re making some changes to the process for uploading data via Transactions Explorer. We are:
        <ul class="list-bullet">
          <li>adding new metrics to be collected — see the updated <a href="service-manual">Service Manual</a> for more details</li>
          <li>asking for data to be sent monthly rather than quarterly</li>
          <li>making it easier for you to upload data</li>
        </ul>  
      </p> 

      <p>
        To get started, you will need to <a href="create-account">set up an account</a> using your work email address. This will guide you through the changes and help automate some of the data gathering process.
      </p>
      
      <p>  
        If you’re unsure about the changes, feel free to <a href="mailto:performance@digital.cabinet-office.gov.uk">contact the team</a> with any questions. We are happy to set up a phone call or meeting to talk through everything in more detail.
      </p>  

      <p>
        Thanks,
        <br>
        Cliff Sheppard
      </p>
      
      <p>  
        Government Digital Service 
      </p> 

    </div>
  </div>
</main>

{% endblock %}


