{% extends "layouts/govuk-registers.html" %}

{% set section = "index" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Check your email
      </h1>

      <p>
        An email has been sent to <strong>yourname@email.com</strong>. It contains a link to a page where you can enter your data.
      </p>

      <p>
        Having problems? <a href="#">Re-send the email</a> or <a href="#">contact the Government Service Data team</a>.
      </p>

      <p>
        <a href="home-page">Return to home page</a>.
      </p>


    </div>
  </div>
</main>

{% endblock %}


