{% extends "layouts/govuk-registers.html" %}

{% set section = "index" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-medium">
        Prototypes
      </h1>

      <ul class="list list-bullet">
        <!-- <li><a href="email-to-manager-new-process">Data managers</a></li> -->
        <li><a href="data-providers-account/email-to-provider-signup">Data providers — sign up</a></li>
        <li><a href="data-providers/email-to-provider-reminder">Data providers — monthly upload</a></li>
        <li><a href="service-manual">Service manual guidance</a></li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}


