{% extends "layouts/govuk-registers.html" %}

{% set section = "index" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-medium">
        Prototypes
      </h1>

      <ul class="list list-bullet">
        <li><a href="create-account">Data managers</a></li>
        <li><a href="magiclink">Data providers</a></li>
      </ul>

      <!-- <h1 class="heading-medium">
        Other links
      </h1>

			<ul class="list list-bullet">
				<li><a href="homepage">Start page</a></li>
        <li><a href="service-manual">Service Manual guidance</a></li>
				<li><a href="how-many">How many services</a></li>
				<li><a href="magiclink">Enter data (after clicking magic link)</a></li>
				<li><a href="permissions">Managing permissions</a></li>
        <li><a href="edit-data-source">Edit data source</a></li>
			</ul> -->

    </div>
  </div>
</main>

{% endblock %}


