{% extends "layouts/govuk-registers.html" %}

{% set section = "index" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="preview-banner">
    <h1 class="bold-medium">
      This is a preview
    </h1>
    <p>
      This data is not yet published — it will go live on 31 August 2017.
    </p>
    <p>
      <a href="monitor">
        Go back
      </a>
    </p>
  </div>

 <img src="/public/images/missing-data.png" width="960">

</main>

{% endblock %}


