{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block service_name %}
  Service Manual
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="breadcrumb">
        <ol>
          <li><a href="#">Service manual home</a></li>
          <li><a href="#">Publish data</a></li>      
          <li>Publishing data to Government Service Data</li>
        </ol>
      </div>    
    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
          <span class="heading-secondary">
            Publish data
          </span>
          <span class="page-name">
            Publishing to Government Service Data
          </span>
      </h1>      
      <div class="metadata-header">
        <dl>
          <dt>Published by:</dt>
          <dd>
            <a href="#">Government Service Data team</a>
          </dd>
          <dt>Last updated:</dt>
          <dd>
            <a href="#page-updates">31 January 2017</a>
          </dd>
        </dl>  
      </div>
    </div>
    <div class="column-third">
      <p class="feedback"><a href="#">Give feedback about this page</a></p>
    </div>
  </div>

  <div class="grid-row">

    <div class="column-third js-stick-at-top-while-scrolling">
      <div class="sidebar">
        <!-- content pulled into this via something in application.js -->
      </div>
    </div>

    <div class="column-two-thirds">

      <!-- Main content -->
      <div class="markdown">

       <p>
        Government Service Data is a reporting tool that lets government services publish data about their transactions. Its main users are civil servants working to transform services.
      </p>

      <p>
        Government Service Data is designed to help these users understand:
        </p>
       <ul class="list list-bullet">
        <li>the demands faced by services - the volume of transactions they receive across different channels, and how often each channel is used and why</li>
        <li>how well services are meeting their users' needs</li>
        <li>how far the service has been digitised</li>
        </ul>


<h2 class="heading-large" id="which-services-should-publish-data">
  Which services should publish data
</h2>
        <p>
          You only need to publish to Government Service Data if your service is transactional.
        </p>

        <p>
          A transactional service is one that allows the user to interact with government. Services that allow the user to do or change something (rather than simply providing content) are transactional. A user using this type of service successfully results in a transaction.
        </p>

        <p>
          Here are some examples of transactional services:
          <ul class="list-bullet">
            <li>Making a claim</li>
            <li>Applying for a licence</li>
            <li>Buying a product</li>
            <li>Booking a service</li>
            <li>Applying for a benefit</li>
            <li>Paying a fine or a tax bill</li>
          </ul>
        </p> 

              <h2 class="heading-large" id="what-to-publish">What to publish</h2>

        <p>
          The Government Service Data team has developed a new set of KPIs designed to work for service transformation.
         
        </p>
        The KPIs are:
      </p>

<h4 class="heading-small">Total number of transactions received</h4>
<p>
This KPI helps users gauge the overall demand for the service.
</p>

<h4 class="heading-small">Total number of transactions received, split by channel</h4>
<p>
  This KPI helps users see which channels are used the most.
</p>
<p>Channels include:</p>
<ul class="list-bullet">
<li>online</li>
<li>phone</li>
<li>paper form</li>
<li>face-to-face</li>
<li>other</li>
</ul>

<h4 class="heading-small">Number of transactions ending in an outcome</h4>
<p>
This KPI gives users an indication of how well the service is meeting users’ needs.
</p>

<h4 class="heading-small">Number of transactions ending in the user’s intended outcome</h4>
  <p>
  This KPI gives users more information about how well the service is meeting users’ needs.
</p>

<h4 class="heading-small">Total number of phone calls received</h4>
<p>
This KPI shows how much the service's contact centre is used.
</p>

<h4 class="heading-small">Number of phone calls received, split by reasons for calling</h4>
<p>
  This KPI shows why calls are made and gives an indication of how the number of calls can be reduced.
</p>
<p>
  Reasons include:</p>
  <ul class="list-bullet">
    <li>to get information</li>
    <li>to chase progress</li>
    <li>to challenge a decision</li>
    <li>Other</li>
  </ul>

</p>
<h2 class="heading-large" id="when-to-publish">When to publish</h2>
<p>
  Services should publish data on a monthly basis, two months in arrears. For example, data from February would be published in April.
</p>
<h2 class="heading-large" id="how-to-publish">How to publish</h2>
<a href="data-providers-account/create-account">Sign up</a> to use the data publishing service. You'll receive an email each month reminding you to publish your data.


        
      </div>

    </div>
  </div>
    <div class="grid-row">
      <div class="footer-content">
        <div class="column-third">
          <p style="visibility:hidden;">a</p>
        </div>

        <div class="column-two-thirds">

          <div class="metadata-footer">
            <dl>
              <dt>Published by:</dt>
              <dd>
                <a href="/communities/agile-community/">
                  Government Service Data team
                </a>
              </dd>
              <dt id="page-updates">Last update:</dt>
              <dd>
                <a href="/designing-services/form-structure/update-26-june-2015/">31 January 2017</a></br>
                <span class="update-description">
                  <p>Updated to include new metrics.</p>
                </span>
                <a href=""><span id="otherupdatesbutton">+ Show all page updates (3)</span></a>
              </dd>
              <dd class="otherupdates">
                <div class="update-other-dates">
                  <span><a href="/designing-services/form-structure/update-6-june-2015/">6 June 2015</a></span>
                  <span class="update-description">
                    <p>Added links to external resources.</p>
                    <p>Examples from around the wider industry were included to give more evidence to the guideance and offer teams futher advice on how to do agile.</p>

                </div>

                <div class="update-other-dates">
                  <span><a href="/designing-services/form-structure/update-12-january-2015/">12 January 2015</a></span>
                  <span class="update-description">Guidance first published</span>
                </div>
              </dd>

            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>



{% endblock %}


